* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: url('/src/weather-bg.jpg') no-repeat center center fixed;
  background-size: cover;
  color: #fff;
  overflow: hidden;
}
#weather-app {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
form {
  padding: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
form input,
form button {
  padding: 12px 24px;
  outline: none;
  font-size: 1.1rem;
  border: none;
  border-radius: 12px;
}
form button {
  cursor: pointer;
  background-color: #abb;
}
form button:hover {
  background-color: #cdd;
}
